<h2>Template: Dinamicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="save()" #myFormulario="ngForm">
            
            <!-- Campo de producto -->
            <div class="mb-3 row">


                <label class="col-sm-3 col-form-label">Nombre</label>


                <div class="col-sm-9">
                    
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre"
                           ngModel
                           name="nombre"
                           minlength="3"
                           required>
                            
                    <span class="form-text text-danger" 
                          *ngIf="check('nombre')">
                        Debe de ser de 3 letras
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end" [disabled]="myFormulario.invalid">
                        Guardar
                    </button>
                </div>
            </div>



        </form>
        


</div>
