<div class="bg-dark border-right p-3" id="sidebar">
    <h1 class="text-light">
        Forms-App
    </h1>
    <hr class="text-white" />

    <div class="list-group list-reset">
        <h3 class="text-light">Template</h3>
        <a [routerLink]="['/template/basicos']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item list-group-item-action">
            Basicos
        </a>
        <a [routerLink]="['/template/dinamicos']" routerLinkActive="active" class="list-group-item list-group-item-action">
            Dinamicos
        </a>
        <a [routerLink]="['/template/directives']" routerLinkActive="active" class="list-group-item list-group-item-action">
            Directivos
        </a>
        <a [routerLink]="['/template/switches']" routerLinkActive="active" class="list-group-item list-group-item-action">
            Switches
        </a>
        <br>
        <h3 class="text-light">Reactive</h3>
        
        <a [routerLink]="['/reactive/basicos']" routerLinkActive="active" class="list-group-item list-group-item-action">
            Basicos
        </a>
        <a [routerLink]="['/reactive/dinamicos']" routerLinkActive="active" class="list-group-item list-group-item-action">
            Dinamicos
        </a>
        <a [routerLink]="['/reactive/switches']" routerLinkActive="active" class="list-group-item list-group-item-action">
            Switches
        </a>
    </div>
</div>
