<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="save()" #myForm="ngForm">
            
            <!-- Campo de producto -->
            <div class="mb-3 row">


                <label class="col-sm-3 col-form-label">Producto</label>


                <div class="col-sm-9">
                    
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto"
                           [ngModel]="initForm.producto"
                           name="producto"
                           minlength="3"
                           required>
                            
                    <span class="form-text text-danger" 
                          *ngIf="check('producto')">
                        Debe de ser de 3 letras
                    </span>
                </div>
            </div>







            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Precio del producto"
                           [ngModel]="initForm.precio"
                           name="precio"
                           min="0"
                           required
                           >
                           <span class="form-text text-danger" 
                          *ngIf="check('precio')">
                            Debes introducir un número y debe ser mayor que 0
                    </span>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Existencias del producto"
                           [ngModel]="initForm.existencias"
                           name="existencias"
                           min="0"
                           required>
                           <span class="form-text text-danger" 
                                     *ngIf="check('existencias')">
                                       Debes introducir un número y debe ser mayor que 0
                               </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit" 
                            class="btn btn-primary float-end" [disabled]="myForm.invalid">
                        Guardar
                    </button>
                </div>
            </div>



        </form>

        <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Value</span>
        <pre>{{myForm.value | json}}</pre>

    </div>
</div>