<h2>Template: <small> Dinámicos </small></h2>
<hr>

<form [formGroup]="myFormulario"  autocomplete="off">
   
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   formControlName="nombre">
                <span *ngIf="isValidField('nombre')" class="form-text text-danger">
                   Este campo es obligatorio
               </span>
        </div>
    </div>

    <!-- Añadir favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       formControlName="nombre">
                      

                <button class="btn btn-outline-primary" 
                        type="button" [disabled]="myFormulario.invalid">
                    Agregar
                </button>
                
            </div>
            <span *ngIf="isValidField('nombre')" class="form-text text-danger">
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Lista de favoritos -->
    <div class="mb-3 row">
        <div class="input-group mb-1" *ngFor="let favorito of myFormulario.get('favoritos')?.value; let i = index">
            <input class="form-control" value="{{favorito}}" >

            <button class="btn btn-outline-danger" type="button"> Eliminar </button>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    >
                Guardar
            </button>
        </div>
    </div>


</form>

<span> Persona</span>
<pre>{{persona|json}}</pre>